<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/angular-script.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add Job</title>
  </head>
  <body ng-app="app" ng-controller="addJobController" id="addjob">
    <div class="container">
      <div class="add-job">
        <h1>Add Job</h1>
        <div class="row">
          <div class="col s12">
            <br><br>
            <form name="addJobForm" method="POST" action="#">
            <!-- {% csrf_token %} -->
              <div class="input-field">
                <input id="id_name" type="text" class="validate" name="name" required>
                <label for="id_name">Job Name</label>
              </div>
              <div class="input-field">
                <select name="jobType" required class="validate">
                  <option>Technology</option>
                  <option>Engineering</option>
                </select>
              </div>
              <div class="input-field">
                <input type="text" id="id_aboutCompany" name="aboutCompany" class="validate">
                <label for="id_aboutCompany">About the Company</label>
              </div>
              <div class="input-field">
                <input type="text" id="id_aboutRole" name="aboutrole" class="validate">
                <label for="id_aboutRole">About the role</label>
              </div>
              <div class="input-field">
                <input type="text" id="id_jobDescription" name="jobDescription" class="validate">
                <label for="id_jobDescription">Job Description</label>
              </div>
              <div class="input-field">
                <textarea id="id_requirement" name="requirement" class="validate materialize-textarea"></textarea>
                <label for="id_requirement">Requirements</label>
              </div>
              <div class="input-field">
                <input type="text" id="id_goodToHave" name="goodToHave" class="validate">
                <label for="id_goodToHave">Good To Have</label>
              </div>
              <div class="input-field">
                <input type="text" id="id_location" name="location" class="validate">
                <label for="id_location">About the Company</label>
              </div>
              <div class="input-field">
                <input type="number" id="id_noOfPositions" name="noOfPositions" min="1" class="validate">
                <label for="id_noOfPositions">No. Of Positions</label>
              </div>
              <div class="input-field">
                <input type="text" id="id_compensation" name="compensation" class="validate">
                <label for="id_compensation">Compensation, benefits and perks</label>
              </div>
              <div class="input-field">
                <input type="email" id="id_hiringManager" name="hiringManager" class="validate">
                <label for="id_hiringManager">Hiring Manager Email</label>
              </div>
              <div class="input-field">
                <input type="checkbox" class="filled-in" id="id_publish" name="publish" class="validate">
                <label for="id_publish">Publish?</label>
              </div><br>
              <center><div class="bt"><button class="btn-custom">Post</button></div></center>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- {{ message }} -->
  </body>
</html>
<script>
  $(document).ready(function(){
    $('select').material_select();
  })
</script>
