<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/jobdashboard.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/angular-script.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Job Details | Recrutoo</title>
		<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  </head>
  <body ng-app="app" ng-controller="jobDetailController">
    <div class="container">
      <h1>Job Details</h1>
      <p class="right">Company: Test</p>
      <table>
        <tr>
          <th>Job Name</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>Job Category</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>About the Company</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>About the role</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>Job Description</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>Requirements</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>Good To Have</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>Positions</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>Compensation, Benefits and perks</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>Hiring Manager</th>
          <td>Test</td>
        </tr>
      </table>
    </div>
  </body>
</html>
