<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/angular-script.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
  </head>
  <body ng-app="app" ng-controller="loginController" id="login">
    <div class="container">
      <div class="login" ng-if="login">
        <h1>Log In</h1>
        <p>New to Recrutoo? <a href="#" ng-click="changeLogin(false)">Sign Up</a></p>
        <div class="row">
          <div class="col s12 m6 l6 push-m1 push-l1 login-left">
            <br><br>
            <form method="POST" action="{% url 'Login">
             <!-- {% csrf_token %} -->
              <div class="input-field">
                <input id="id_email" type="email" class="validate" name="email">
                <label for="id_email">Email</label>
              </div>
              <div class="input-field">
                <input id="id_password" type="password" class="validate" name= "password">
                <label for="id_password">Password</label>
              </div>
              <div class="input-field col s6">
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">Remember Me</label>
              </div>
              <div class="input-field col s6 forgot">
                <a href="{% url 'password_reset">Forgot Password?</a>
              </div>
              <div class="bt"><button class="btn-custom">Log In</button></div>
            </form>
          </div>
          <div class="col s12 m4 l4 push-m1 push-l1 login-right">
            <h1 class="hide-on-med-and-up">OR</h1>
            <span class="hide-on-med-and-down"><br><br><br><br><br><br></span>
            <a button class="btn-google" href="{% url 'social:begin' 'google-oauth2"><span class="google"><i class="fa fa-google-plus" style="color: red" aria-hidden="true"></i></span>Continue with Google</a>
          </div>
        </div>
      </div>
      <div class="signup" ng-if="!login">
        <h1>Sign Up</h1>
        <p>Already have and account? <a href="#" ng-click="changeLogin(true)">Log In</a></p>
        <div class="row">
          <div class="col s12 m6 l6 push-m1 push-l1 login-left">
            <br><br>
            <form name="registerForm" method="POST" action="{% url 'signup">
            <!-- {% csrf_token %} -->
              <div class="input-field">
                <input id="id_email" type="email" class="validate" name="email" required>
                <label for="id_email">Email</label>
              </div>
              <div class="input-field">
                <input id="id_password" ng-model="password" type="password" name="password" class="validate" required>
                <label for="id_password">Password</label>
              </div>
              <div class="input-field">
                <input name="password2" id="id_password2" ng-model="password2" type="password" ng-match="password" class="validate" ng-class="{valid: (registerForm.password2.$dirty && password2==password), invalid: (registerForm.password2.$dirty && password2!=password)}" required>
                <label for="id_password2">Type Your Password Again</label>
              </div>
              <span ng-if="(registerForm.password2.$dirty && password2!=password)" style="color: red">Passwords Must Match!</span>
              <div class="bt"><button class="btn-custom" ng-disabled="registerForm.$invalid || password2!=password">Sign Up</button></div>
            </form>
          </div>
          <div class="col s12 m4 l4 push-m1 push-l1 login-right">
            <h1 class="hide-on-med-and-up">OR</h1>
            <span class="hide-on-med-and-down"><br><br><br><br><br><br></span>
            <a button class="btn-google" href="{% url 'social:begin' 'google-oauth2"><span class="google"><i class="fa fa-google-plus" style="color: red" aria-hidden="true"></i></span>Continue with Google</a>
          </div>
        </div>
      </div>
    </div>
    <!-- {{ message }} -->
  </body>
</html>
