


 <!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href='{% static "css/login.css" %}'>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.js'%}"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-script.js' %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Reset Password</title>
		<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Reset Your Password</h1>
        <br><br><br>
        <form method="POST">
          {% csrf_token %}
          <div class="input-field">
            <input id="id_new_password1" type="password" name="new_password1" class="validate">
            <label for="id_new_password1">New Passowrd </label>
          </div>
          <div class="input-field">
            <input id="id_new_password2" type="password" name="new_password2" class="validate">
            <label for="id_new_password1">New Password Confirmation</label>
          </div>
          <div class="bt" style="text-align: center"><button class="btn-custom">Submit</button></div>
        </form>
      </div>
      {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    </div>
  </body>
</html>
