<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href='{% static "css/login.css" %}'>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.js'%}"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-script.js' %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Reset Password</title>
		<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Reset Your Password</h1>
        <br><br><br>
        <form method="POST">
          {% csrf_token %}
          <div class="input-field">
            <input type="email" name="email" class="validate">
            <label for="id_email">Email</label>
          </div>
          <div class="bt" style="text-align: center"><button class="btn-custom">Submit</button></div>
        </form>
      </div>
    </div>
  </body>
</html>
