<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/joblist.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/angular-script.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Job Details | Recrutoo</title>
		<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  </head>
  <body ng-app="app" ng-controller="singleJobController" id="single-job">
    <div class="container">
        <h3 class="center">Job Name</h3>
        <p style="font-size: 150%;">Company: Test</p>
        <p class="grey-text center">Job Location</p>
      <hr><br>
      <b>About Us</b>
      <p>About the company</p>
      <b>About The Role</b>
      <p>About the role text</p>
      <b>What we need your help with</b>
      <p>Job Profile</p>
      <b>What we look for</b>
      <p>Requirements</p>
      <b>About The Role</b>
      <p>About the role text</p>
      <b>Comp, benefits and perks</b>
      <p>Text</p>
      <hr></br>
      <div class="row">
        <div class="col s12 m10 l10">
          <button class="btn-custom">Apply Now</button>
        </div>
        <div class="col s12 m2 l2">
          <center><a href="#">Careers</a></center>
        </div>
      </div>
    </div>
  </body>
</html>
